<div class="col-md-12 text-center mt-5">
  <h1 class="brand-heading">Share the ride.</h1>
  <p class="intro-text">ride-sharing platform for universities.</p>
  <a routerLink="/schedule" class="btn btn-primary btn-raised btn-lg page-scroll">
    Share the ride
  </a>
</div>
<div class="col-md-12 text-center mt-5">
  <div class="col-md-6 text-center float-left mt-2">
    <h1 class="brand-heading">Create a profile</h1>
    <p> Securely log into your university </p>
    <h1 class="brand-heading">Find a match</h1>
    <p> Get matched with a ride and connect </p>
  </div>
  <div class="col-md-6 text-center float-left mt-2">
    <h1 class="brand-heading">Search for rides</h1>
    <p> Securely log into your university </p>
    <a routerLink="/wishlist" class="btn btn-primary btn-raised btn-lg page-scroll">
      Check Passengers
    </a>
    <h1 class="brand-heading">Create wish</h1>
    <p> Create wish where you wanna go </p>
  </div>
</div>