<nav class="navbar navbar-expand-md navbar-blue bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExamspleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/wishlist">Wish ride</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedule">Share ride</a>
      </li>

    </ul>

    <div class="not_logged_in" *ngIf="!isLoggedIn()">
      <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/signin">Sign In</a>
      <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/signup">Sign Up</a>
    </div>

    <div class="logged_in" *ngIf="isLoggedIn()">
      <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/profile">Your Profile</a>
      <a class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()" href="javascript:void(0)">Sign Out</a>
    </div>
  </div>
</nav>
  
